services:
  # MySQL
  mysql:
    image: mysql:8.0
    container_name: beat_to_the_book_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: beat_to_the_book
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3308:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - beat_to_the_book_network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-uuser", "-ppassword" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # Redis
  redis:
    image: redis:latest
    container_name: beat_to_the_book_redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - beat_to_the_book_network
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  # Redis Insight
  redisinsight:
    image: redislabs/redisinsight:latest
    container_name: redisinsight
    ports:
      - "5540:5540"
    networks:
      - beat_to_the_book_network
    depends_on:
      - redis

  # Zookeeper
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    volumes:
      - ./zookeeper/data:/var/lib/zookeeper/data
      - ./zookeeper/log:/var/lib/zookeeper/log
    networks:
      - beat_to_the_book_network
    healthcheck:
      test: ["CMD-SHELL", "echo ruok | nc localhost 2181 | grep imok"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Kafka
  kafka:
    image: confluentinc/cp-kafka:7.5.1
    container_name: beat_to_the_book_kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://beat_to_the_book_kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - beat_to_the_book_network
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 9092"]
      interval: 10s
      timeout: 5s
      retries: 5

#  # Kafka UI (Provectus)
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka_ui
    ports:
      - "8088:8080"
    depends_on:
      - kafka
      - zookeeper
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181
    networks:
      - beat_to_the_book_network

  # Flask API
  flask_app:
    build: ./ML
    container_name: beat_to_the_book_flask
    working_dir: /app
    ports:
      - "5001:5000"
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    networks:
      - beat_to_the_book_network
    depends_on:
      kafka:
        condition: service_healthy
    volumes:
      - ./ML:/app
    command: >
      sh -c "PYTHONPATH=/app python run.py"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:5000" ]
      interval: 10s
      retries: 5
      timeout: 5s

  # Kafka Consumer
  flask_consumer:
    build: ./ML
    container_name: beat_to_the_book_flask_consumer
    working_dir: /app
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    networks:
      - beat_to_the_book_network
    depends_on:
      kafka:
        condition: service_healthy
    volumes:
      - ./ML:/app
    command: >
      sh -c "PYTHONPATH=/app python app/infra/kafka/kafka_consumer.py"

  # Spring Boot
  backend:
    build: ./BE
    container_name: beat_to_the_book_spring_boot
    restart: always
    ports:
      - "8082:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://beat_to_the_book_mysql:3306/beat_to_the_book
      SPRING_DATASOURCE_USERNAME: user
      SPRING_DATASOURCE_PASSWORD: password
      SPRING_KAFKA_BOOTSTRAP_SERVERS: beat_to_the_book_kafka:9092
      SPRING_REDIS_HOST: redis
      APP_JWT_SECRET: ${APP_JWT_SECRET}
      APP_JWT_EXPIRATION_MS: ${APP_JWT_EXPIRATION_MS}
      FLASK_URL: http://beat_to_the_book_flask:5000
    depends_on:
      - mysql
      - redis
      - kafka
      - flask_app
    networks:
      - beat_to_the_book_network

  # ---

#  # 부하 테스트
#  locust:
#    image: locustio/locust
#    container_name: locust
#    ports:
#      - "8089:8089"
#    volumes:
#      - ./load-test:/mnt/locust
#    command: -f /mnt/locust/locustfile.py --host=http://backend:8080
#
#  prometheus:
#    image: prom/prometheus
#    container_name: prometheus
#    ports:
#      - "9090:9090"
#    volumes:
#      - ./prometheus/config:/etc/prometheus
#      - prometheus-data:/prometheus
#    command:
#      - '--storage.tsdb.path=/prometheus'
#      - '--config.file=/etc/prometheus/prometheus.yml'
#    networks:
#      - beat_to_the_book_network
#
#  grafana:
#    image: grafana/grafana:10.4.2
#    container_name: grafana
#    ports:
#      - "3000:3000" # 포트 변경하기
#    volumes:
#      - grafana-data:/var/lib/grafana
#      - ./grafana/provisioning/:/etc/grafana/provisioning/
#      - ./load-test:/var/lib/grafana/csv
#    environment:
#      - GF_SECURITY_ADMIN_USER=admin
#      - GF_SECURITY_ADMIN_PASSWORD=admin
#      - GF_INSTALL_PLUGINS=marcusolsson-csv-datasource
#      - GF_PLUGIN_CSV_ALLOW_LOCAL_MODE=true
#      - GF_PLUGIN_MARCUSOLSSON_CSV_DATASOURCE_ALLOW_LOCAL_MODE=true
#    depends_on:
#      - prometheus
#    networks:
#      - beat_to_the_book_network
#
#  node_exporter:
#    image: prom/node-exporter
#    container_name: node_exporter
#    ports:
#      - "9100:9100"
#    volumes:
#      - /proc:/host/proc:ro
#      - /sys:/host/sys:ro
#      - /:/rootfs:ro
#    command:
#      - '--path.procfs=/host/proc'
#      - '--path.rootfs=/rootfs'
#      - '--path.sysfs=/host/sys'
#      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
#    networks:
#      - beat_to_the_book_network
#
#  redis_exporter:
#    image: bitnami/redis-exporter:latest
#    container_name: redis_exporter
#    ports:
#      - "9121:9121"
#    environment:
#      REDIS_ADDR: redis://beat_to_the_book_redis:6379
#    networks:
#      - beat_to_the_book_network
#    depends_on:
#      redis:
#        condition: service_healthy
#
#  kafka_exporter:
#    image: danielqsj/kafka-exporter
#    container_name: kafka_exporter
#    ports:
#      - "9308:9308"
#    environment:
#      KAFKA_SERVER: beat_to_the_book_kafka:9092
#      KAFKA_VERSION: "2.0.0"
#      KAFKA_CONSUMER_GROUP_REGEX: ".*"
#      KAFKA_TOPIC_REGEX: ".*"
#      KAFKA_URI_SCHEME: PLAINTEXT
#    networks:
#      - beat_to_the_book_network
#    depends_on:
#      kafka:
#        condition: service_healthy

volumes:
  mysql_data:
#  grafana-data:
#  prometheus-data:

networks:
  beat_to_the_book_network:
    driver: bridge